


html{
    background-color: #ff9;
    background-image: url("images/bg_banner.jpg") ;
    background-repeat: no-repeat;
    background-size: 100% 14%;

}
body{
    margin: auto;
    width: 70%;
    border: 2px solid grey;
    height: 1000px;
    padding: 5px;
}
p{
    text-align: justify;
}
#principal h1{
    color:blue;
    font-family: "Arial Black", Arial, Helvetica, sans-serif;
    font-size: 2em;
}
#principal h1 strong{
    color:yellow;
    margin-right:-1.2em;
    font-size: 100px;
}
#principal h2{
    border-bottom: 2px solid black;
}
.byline {
    color: grey;
}
.byline strong {
    color: navy;
    font-family: "Arial Black", Arial, Helvetica, sans-serif;
    margin-left: 15px;
}
#recursos{
    float: right;
    background-color: yellow;
    margin-top: 10px;
    margin-left: 50px;
    width: 200px;
    padding: 10px;
}
h3 + p{
    margin-left: 250px;
    margin-right: 50px;
}
h3 + p:first-line{
    color: gray;
}
ul{
    list-style-type:square;
    padding-left:1em
} 

li {
    padding-left:0
}
a:link{
    text-decoration:none;

}
/*a[href*="informe.pdf"]{
    background:url("images/acrobat.png") center right no-repeat;
    
}*/
a[href*="informe.pdf"]:after{
    content: "";
    display: block;
    background: url("images/acrobat.png") no-repeat;
    width: 20px;
    height: 20px;
    float: right;
    margin: 0 70px 0 0;
}
a[href*="plantilla.doc"]:after{
    content: "";
    display: block;
    background: url("images/word.png") no-repeat;
    width: 20px;
    height: 20px;
    float: right;
    margin: 0 25px 0 0;
}
a[href*="logos.zip"]:after{
    content: "";
    display: block;
    background: url("images/zip.png") no-repeat;
    width: 20px;
    height: 20px;
    float: right;
    margin: 0 70px 0 0;
}
a[href*="logos.zip"]:after{
    content: "";
    display: block;
    background: url("images/zip.png") no-repeat;
    width: 20px;
    height: 20px;
    float: right;
    margin: 0 70px 0 0;
}
a[href*="http://www.aeat.es"]:after{
    content: "";
    display: block;
    background: url("images/globe.png") no-repeat;
    width: 20px;
    height: 20px;
    float: right;
    margin: 0 70px 0 0;
}
a[href*="http://www.google.com"]:after{
    content: "";
    display: block;
    background: url("images/globe.png") no-repeat;
    width: 20px;
    height: 20px;
    float: right;
    margin: -15px 70px 0 0;
}

h3:nth-child(n+2) {
  color: blue;
  font-size: 24px;
}
#correo{
    margin-left: 250px;
    color: grey;
}
a[href*="mailto:cursos@aplicacionesweb.com"]:before{
    content: "";
    display: block;
    background: url("images/email.gif") no-repeat;
    width: 20px;
    height: 20px;
    float: left;
    margin:  4px 6px 0 0;
}
