

body{
    width: 95%;
    margin: auto;

}
#nav ul li{
    /*quitamos viñetas*/
    list-style-type: none;
    /*ponemos en línea los "li"*/
    display: inline;
    margin-left: -30px;
}
#nav ul li a{
    color: #ff9;
    padding-right: 30px; 
    background-color: green;
    margin-right: 30px;  
    text-decoration:none;
}

#noticias{
    float: left;
}

#noticias li{
    list-style-type: none;
    margin-left: -40px;
    width: 170px;
    border: 1px dotted #06c;
}

#principal{
    margin:auto;
    width: 60%;
    height: 750px;
    margin-left: 210px;
}
#principal p img{
    border: 3px solid #000;
    margin: 20px;
}
.floatRight{
    float: right;
}
#barralateral2{
    float: right;
    width: 20%;
    height: 850px;
    background-color: #2a5e3f;
    
}
#noticias2 li{
    list-style-type: none;
    margin-right: 20px;
    margin-left: -20px;
}
#noticias2 li a{
    list-style-type: none;
    text-decoration:none;
    color:white;

        
}
.titulo,.titulo2{}