

body{
    background-color: #0cf;

}
#principal{
    margin:auto;
    width: 800px;
    background-color: white;
    border:3px solid #009;/**/
    font-family:Georgia, "Times New Roman", Times, serif;
    /*font-size:44px;
    border:3px solid #009;
    width: 760px;
    margin: 20px auto auto 20px;
    padding:15px;*/
    text-align: justify;
}

img{
    padding: 20px 20px 0 20px;
}

h1{
    text-transform: uppercase;
    /* line-height */
    background-color: #0cf;
    padding: 5px 5px 0 10px;
    margin-top: -2px;
}

#lateral{
    float: right;
    border: 1px solid blue;
    width: 260px;
    margin: 20px;
    background-color: #06c;
}


h2, p{
    padding-left: 10px;
    padding-right: 10px; 

}


h2{
    border-top: 1px dotted blue;
    border-bottom: 1px dotted blue;
    padding-bottom: 0.5px;
    overflow: hidden;
}
#lateral h2{
    border: none;
}








